<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.system.blog.post.mapper.CategoryMapper">
    <insert id="insertProcess">

    </insert>
    <update id="updateProcess">

    </update>
    <delete id="deleteProcess">

    </delete>

    <select id="getList" resultType="egovframework.rte.psl.dataaccess.util.EgovMap">

    </select>
</mapper>